@import 'base';

// Poppins:700|Rubik:700 imported via <link>
body {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.number, tspan.value, .tick text {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

ul.pager {
  svg.icon {
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover {
      use {
        fill: lighten($navy, 40%);
      }
    }
  }
}

#tooltip {
  .country {
    .value {
      font-size: 18px;
    }
  }
}

#line-container {
  height: 350px;

  svg {
    overflow: visible;
  }

  path.line {
    stroke-width: 2px;
  }

  .tick text {
    font-weight: 400;
  }
}

#status-container {
  height: 130px;

  svg {
    overflow: visible;
  }

  line.timeline {
    stroke: $navy;
    stroke-dasharray: 4px;
  }

  .status-event {
    text {
      font-size: 12px;
    }

    line {
      stroke-dasharray: 2px;
    }
  }
}

#donut-container {
  height: 200px;
}

#map-container {
  //height: 600px;

  .countries {
    stroke: darken($navy, 3%);
    stroke-linejoin: round;

    path.hover {
      fill-opacity: 0.8;
    }
  }
}

.revenue {
  div {
    color: $green;
    font-size: 50px;
    font-weight: 700;

    span {
      display: inline-block;
      width: 32px;

      &.comma {
        width: 20px !important;
      }
    }
  }
}

div.clicks {
  display: table;
  height: 44px;

  svg.icon {
    width: 40px;
    height: 40px;
  }

  > * {
    display: table-cell;
    vertical-align: middle;
    padding: 4px;
  }
}

.receipt {
  color: $green;
}

.followup {
  color: $lightnavy;
}

.abandoned {
  color: $orange;
}

svg.icon {
  use {
    &.default {
      fill: $navy;
    }

    &.receipt {
      fill: $green;
    }

    &.followup {
      fill: $lightnavy;
    }

    &.abandoned {
      fill: $orange;
    }
  }
}
