#svg-container {
    height: 500px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    background: #333;
    color: #ddd;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}

.tooltip div.margin {
    margin-bottom: 7px;
}

path {
    fill-opacity: 0.8;
    transition: fill-opacity .3s;
}

.venn-intersection path {
    fill-opacity: 0;
}

path.hover {
    fill-opacity: 0.4;
    transition: fill-opacity .3s;
}

.venn-area path {
    stroke: #fff;
    stroke-opacity: 0;
    stroke-width: 3;
}

.venn-area path.hover {
    stroke-opacity: 1;
}

polyline{
    opacity: .3;
    stroke: #000;
    stroke-width: 2px;
    fill: none;
}
