$green: #83BC41;
$darkgreen: #6A9D26;
$darkergreen: #557F1C;
$lightnavy: #4D6370;
$navy: #2B2D37;
$darknavy: #20202b;
$red: #BC3333;
$yellow: #EDC900;
$darkyellow: #655600;
$white: #FFFFFF;
$offwhite: #F8F8F8;
$gray: #EDEDED;
$darkgray: #A1A1A1;
$lightblue: #44A7D4;
$orange: #F48A00;
