$green: #83BC41;
$darkgreen: #6A9D26;
$darkergreen: #557F1C;
$storegraderlightgreen: #98db3a;
$storegradergreen: #83bd31;
$lightnavy: #4D6370;
$navy: #2B2D37;
$darknavy: #20202b;
$red: #BC3333;
$yellow: #EDC900;
$darkyellow: #655600;
$white: #FFFFFF;
$offwhite: #F8F8F8;
$gray: #EDEDED;
$darkgray: #A1A1A1;
$lightblue: #44A7D4;
$orange: #F48A00;
$purple: #4d5ae3;
$blue: #51bef7;
$pink: #e12277;
$darkblue: #232fa3;
$turquoisegreen: #54ca95;
$storegraderyellow: #f5b83b;
$animalpetcare: #f44336;
$artscrafts: #E91E63;
$automotive: #9C27B0;
$booksmusicvideo: #673AB7;
$businesseducation: #3F51B5;
$computerelectronics: #2196F3;
$digitalgoodssoftware: #03A9F4;
$fashionapparel: #00BCD4;
$foodbeverage: #009688;
$furniture: #4CAF50;
$gardenhomeimprovement: #8BC34A;
$healthbeauty: #CDDC39;
$jewelryaccessories: #FFC107;
$other: #FF5722;
$sportsrecreation: #795548;
$toysgames: #9E9E9E;
$travelexperiences: #607D8B;
$weddingbridal: #FFB6C1;
