{% extends 'layouts/_base.html' %}
{% block styles %}
<link rel="stylesheet" href="/css/storegrader.css">
{% endblock %}
{% block content %}
<div class="container" style="display:none;">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>StoreGrader</h1>
    </div>
  </div>
  <div id="phone-intro" class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <p>If you are viewing this on your phone, we recommend rotating it to landscape mode and reloading the page.</p>
      <button type="button" id="show-intro" class="btn btn-default">Ok, I&#39;m ready &#x1F44D;</button>
    </div>
  </div>
  <div id="intro-area" class="row" style="display:none;">
    <div class="col-lg-12 text-center">
      <div id="intro"></div>
      <button type="button" id="show-totals" class="btn btn-default">Cool, Now Show Me a Graph</button>
    </div>
  </div>
  <div id="totals-area" style="display:none;">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div id="controls" class="should-fade">
          <form class="form-inline">
            <div class="form-group" id="data-selection">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active" >
                  <input type="radio" name="dataSelection" autocomplete="off" value="storeRevenue">
                  Revenue
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="dataSelection" autocomplete="off" value="storeVolume">
                  Orders
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="dataSelection" autocomplete="off" value="storeCount" checked>
                  Active Stores
                </label>
              </div>
            </div>
            <div class="form-group">
              <select id="data-view" class="form-control">
                <option value="" selected>Sum</option>
                <option value="Median">Median</option>
              </select>
            </div>
          </form>
          <div class="description">
            <p class="text-muted">
              For the &quot;Revenue&quot; and &quot;Orders&quot; selection, you can click or touch an industry in the bar chart to show extra
              details for that industry in the line graph below the bar chart.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="heading">
          <h3 id="data-description-bar"></h3>
        </div>
        <div id="bar-container" class="card">
          <svg class="bar-chart" width="100%" height="100%"></svg>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="heading">
          <h3 id="data-description-line"></h3>
        </div>
        <div id="line-container" class="card">
          <svg class="line-chart" width="100%" height="100%"></svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tooltip" style="display:none"></div>
<div id="loader"><div class="loading">Loading data... <div id="progress">0%</div></div></div>
{% endblock %}
{% block scripts %}
{% raw %}
<script id="intro-template" type="text/nunjucks">
  <div class="row">
    <div class="intro">
      <div class="circles stats-top">
        <div class="circle-one">
            <div class="text">Industries <br /><span class="big">{{ industryCount }}</span></div>
        </div>
        <div class="circle-two">
            <div class="text">Active stores<br /><span class="big">{{ storeCount }}</span></div>
        </div>
        <div class="circle-three">
            <div class="text">Number of stores on average for each industry<br /><span class="big">{{ storeCountAvg | round }}</span></div>
        </div>
    </div>
    <div class="july-review should-fade">
      <h2> July 2017 in Review</h2>
      <div class="timeline-wrapper">
        <ul class="timeline">
          <li>
            <div class="direction-l">
              <p><span class="medium">{{ volumeSum | formatNumber }}</span><br/><strong>orders</strong> were placed on these stores during July 2017</p>
            </div>
          </li>
          <li>
            <div class="direction-r">
              <p class="arrow"><img src="../images/storegrader/arrow_right.png"/></p>
              <p><span class="medium">{{ revenueSum | formatCurrency('USD') }}</span><br/>was their <strong>total revenue</strong>.</p>
            </div>
          </li>
          <li>
            <div class="direction-l">
              <p class="arrow"><img src="../images/storegrader/arrow_left.png"/></p>
              <p><span class="medium">{{ aov | formatCurrency('USD') }}</span><br/>was the <strong>average value</strong> of each purchase.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</script>
{% endraw %}
<script src="/js/storegrader.js"></script>
{% endblock %}
